<html>
<head>
	<title>
		consumer api
	</title>
</head>
<body>
	<h1>Enter the values in the calculator</h1>
	<div id="calculator">
		<div id="formdiv">	
			<input id="command"/>
			<input type="button" value="Calculate" id="sub"></input>
		</div>
		<!-- <div id="result"></div>
 -->	</div>
	<div id="calculator1">
		<div id="formdiv">	
			<input id="command"/>
			<input type="button" value="Calculate" id="sub"></input>
		</div>
	</div>
	<div id="calculator2">
		<div id="formdiv">	
			<input id="command"/>
			<input type="button" value="Calculate" id="sub"></input>
		</div>
	</div>
		<div id="result"></div>

</body>

</html>	