<div>
	<input type="button" value="Generate Calculator" id="gen_cal"/>

</div>
<div id="container"></div>

<div id="template" style="display:none">
	<h1>Enter the values in the calculator</h1>
	<div id="calculator1" style="float:left;padding-left: 160px;">
		<div id="formdiv">
			<input id="command"/>
			<input type="button" value="Calculate" id="sub"></input>
		</div>
		<div class="resultDiv" style="max-height:300px; overflow:'scroll'; border:1px solid black;'">
			<span class="sp"> Calculator's current state </span>
			<div id="result"></div>
		</div>
	</div>
</div>